---
layout: default
---
<article class="h-entry">
  {% if title %}
    <h1 class="p-name">
      <a href="{{ page.url }}">{{ title }}</a>
    </h1>
  {% endif %}

  {% render 'attribution', date: date, author: author, link: page.url %}

  {% if repost %}~~~ DELETE ME ~~~{% endif %}

  <div class="e-content">{{ content }}</div>

  {% render 'tags', tags: tags %}

  <div class="commentbox"></div>
  <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
  <script>
    commentBox('5765991539671040-proj', { sortOrder: 'oldest' });
  </script>
</article>
