<!doctype html>
<html lang="en">
  <head>
    {% include 'head.liquid', content: page.data.content %}
  </head>
  <body>
    <header class="page-header">
      <div class="page-header__logo h-card">
        <data class="p-name" value="{{ site.author | escape }}"></data>
        <a href="/" class="u-url u-uid" title="Go home">
          <img src="/assets/avatar.webp" width="48" class="u-logo">
        </a>
      </div>

      <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/links">Links</a>
        <a href="/about">About</a>
      </nav>

      <nav class="icons">
        <a href="https://mastodon.social/@nex3" rel="me">
          <img src="/assets/mastodon.svg" alt="Mastodon">
        </a>
        <a href="https://letterboxd.com/nex3" rel="me">
          <img src="/assets/letterboxd.svg" alt="Letterboxd">
        </a>
        <a href="https://backloggd.com/u/nex3" rel="me">
          <img src="/assets/backloggd.png" alt="Backloggd">
        </a>
        <a href="/feed.xml"><img src="/assets/rss.svg" alt="Feed"></a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>

    <footer class="page-footer">
      <small>Copyright {{ site.author }}</small>
    </footer>
  </body>
</html>
