<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="https://archipelago.gg/static/styles/globalStyles.css">
    <link rel="stylesheet" type="text/css" href="https://archipelago.gg/static/styles/themes/stone.css">
    <link rel="stylesheet" type="text/css" href="https://archipelago.gg/static/styles/themes/base.css">
    <link rel="stylesheet" type="text/css" href="https://archipelago.gg/static/styles/markdown.css">
    <link rel="stylesheet" type="text/css" href="/assets/ds3.css">
  </head>
  <body>
    <main>
      <div class=markdown>{{ content }}</div>
    </main>
  </body>
</html>
