---
layout: default
---
<article class="h-entry">
  {% if title %}
    <h1 class="p-name">
      <a href="{{ page.url }}">{{ title }}</a>
    </h1>
  {% endif %}

  {% if date %}
    <p class="attribution">{% render 'date', date: date, link: page.url %}</p>
  {% endif %}

  <div class="e-content">{{ content }}</div>
</article>
