{% unless pagination.pageNumber == 0 %}
  {% render 'pager', pagination: pagination %}
{% endunless %}

<ul class="blog-posts">
  {% for post in posts %}
    <li>
      {% unless forloop.first %}<hr>{% endunless %}
      <article>
        {% if post.data.title %}
          <h1>
            <a href="{{ post.url }}" rel="canonical">{{ post.data.title }}</a>
          </h1>
        {% endif %}
        {% render 'attribution', date: post.date, author: post.data.author, link: post.url %}
        {{ post.content | truncateHTML: 300, link: post.url | replaceInternalLinks: post.url }}
        {% render 'tags', tags: post.data.tags %}
      </article>
    </li>
  {% endfor %}
</ul>

{% render 'pager', pagination: pagination %}
