{%- assign tags = tags | omit: 'blog' -%}
{% if tags %}
  <ol class="tags">
    {% for tag in tags %}
      <li>
        <a href="/tag/{{ tag | url_encode }}" class="p-category">
          {{- tag | escape -}}
        </a>
      </li>
    {% endfor %}
  </ol>
{% endif %}
