@use "sass:color";
@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "sass:map";

@font-face {
  font-family: "star";
  src:
    url("./star.eot") format("embedded-opentype"),
    url("./star.woff2") format("woff2"),
    url("./star.woff") format("woff");
}

$text-font-no-emoji:
  Atkinson Hyperlegible,
  ui-sans-serif,
  system-ui,
  sans-serif;
$text-font: list.join(
  $text-font-no-emoji,
  ("Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji")
);

$accent: #2d9cdb;
$highlight: #bdecff;
$grey: #555;
$dim-grey: color.change($grey, $alpha: 0.6);
$faint-grey: color.change($grey, $alpha: 0.3);

$phone-break: 468px;
@mixin phone {
  @media only screen and (width <= #{$phone-break}) {
    @content;
  }
}

@mixin not-phone {
  @media (width > #{$phone-break}) {
    @content;
  }
}

html {
  font-size: 17px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

$body-margin: 24px;
body {
  font-family: $text-font;
  line-height: 1.65;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0 $body-margin;
}

.page-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 8px;

  @include phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    grid-row: span 2;

    a {
      display: flex;
      height: 100%;
    }

    img {
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    grid-column: 3;
    @include phone {
      justify-content: space-evenly;
      max-width: 80%;
    }

    &.icons {
      grid-row: 2;
      a {
        margin: 0 8px;
      }
    }

    a {
      margin: 0 12px;
      font-size: 20px;
      &:not(:hover):not(:focus) {
        color: currentColor;
        text-decoration: none;
      }
    }
    img {
      width: 22px;
      vertical-align: middle;
    }
  }
}

main {
  flex-grow: 1;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;

  > img {
    display: block;
    margin: 0 auto;
  }
}

.blog-post {
  &.repost > .attribution {
    display: none;
  }
}

.blog-prose {
  img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }

  .h-entry.u-in-reply-to:last-of-type {
    position: relative;

    &::after {
      position: absolute;
      width: 96px;
      height: 96px;
      bottom: -96px;
      right: 0;
      content: "";
      background-image: url(/assets/reply.svg);
      background-size: contain;
      opacity: 0.1;
      pointer-events: none;
    }
  }
}

.mention {
  color: $accent;
  font-weight: bold;
  a[href] {
    color: inherit;
    text-decoration: none;
  }

  .attribution-external & {
    color: $grey;
    font-size: 1.1em;
  }
}

.page-footer {
  text-align: center;
  margin-bottom: 8px;
}

.simple-content {
  display: none;
}

a[href] {
  color: $accent;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 2px solid $accent;
    outline-offset: 4px;
  }
  h1 & {
    color: currentColor;
    text-decoration: none;
  }
}

.attribution {
  @extend %sidenote;
  a[href] {
    color: $grey;
    text-decoration-color: $grey;
  }
}

ul.attribution {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 5px;
  justify-content: space-evenly;

  li {
    list-style: none;
  }
}

.footnotes {
  font-size: 12.8px;

  &-sep {
    border-color: $dim-grey;
    border-top-width: 1px;
    border-style: dashed;
    border-bottom: none;
    width: 90%;
  }
}

.footnote-backref {
  font-family: $text-font-no-emoji;
}

.footnote-item:target {
  padding-right: 5px;

  &:target {
    border-right: 3px solid $faint-grey;

    &::marker {
      font-weight: bold;
    }
  }
}

.pager {
  display: flex;
  gap: 16px;
  justify-content: center;

  img {
    width: 16px;
    position: relative;
    top: 2px;
  }

  a[rel="next"] {
    transform: scale(-1, 1);
  }
}

.blog-posts {
  padding: 0;
  > li {
    list-style: none;

    > hr {
      width: calc(100% + 120px);
      max-width: 96vw;
      margin-left: 50%;
      transform: translateX(-50%);

      height: 3px;
      position: relative;
      border: none;
      border-top: 1px solid $dim-grey;
      border-bottom: 1px solid $dim-grey;
      margin-top: 32px;
      margin-bottom: 48px;
    }
  }
}

.read-more[href] {
  display: inline-block;
  background-color: $accent;
  color: white;
  padding: {
    left: 3px;
    right: 3px;
    bottom: 8px;
  }
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  line-height: 8px;
  vertical-align: super;
  margin-left: 3px;

  &:hover {
    color: $accent;
    background-color: transparent;
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  $gap: 16px;
  gap: $gap;

  > * {
    flex: 1 calc(100% / var(--images-per-row, 3) - $gap);
    margin-inline: 0;
  }
}

.star-rating {
  color: #00000000;
  position: relative;
  display: inline-block;
  font-family: star;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;

  $spacing: 2px;
  letter-spacing: $spacing;
  width: calc(5em + $spacing * 4);

  &::before {
    color: rgba(146, 161, 204, 0.23);
    content: "★★★★★";
    position: absolute;
    letter-spacing: $spacing;
  }
  &::after {
    color: color.to-gamut(
      color.scale(gold, $lightness: -7.5%, $space: oklch),
      $method: local-minde
    );
    content: "★★★★★";
    letter-spacing: $spacing;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    top: 0;
    left: 0;
  }

  @for $i from 1 through 10 {
    &-#{$i}::after {
      width: calc(10% * $i + 0.5px);
    }
  }
}

.page-404 {
  h1 {
    font-size: 8rem;
    text-align: center;
    margin: 0;
    transform: rotate(-6deg) translate(-10px);

    @include phone {
      font-size: 6rem;
    }
  }

  img {
    max-height: 800px;
    object-fit: contain;
  }
}

figcaption.via {
  @extend %citation;
}

h1.tag {
  text-align: center;
  color: $dim-grey;
  font-size: 32px;

  img {
    width: 24px;
    filter: grayscale(1);
  }
}

.tags {
  padding: 0;
  color: $dim-grey;

  li {
    list-style: none;
    display: inline;
    margin-right: 11.2px;
  }

  a {
    color: inherit;

    &::before {
      content: "#";
    }
  }
}

fieldset {
  border: none;
  padding: 0;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  max-width: max-content;

  img {
    width: min-content;
    height: auto;
  }
}

figcaption {
  font-size: 12.8px;
  text-align: center;
  @include phone {
    font-size: 9.6px;
  }
}

figcaption,
.gdesc-inner {
  h6:first-child {
    margin-top: 0;
    text-align: center;
    font-size: 13.6px;
  }

  details {
    summary {
      @extend %sidenote;
      text-align: center;
    }
  }
}

data:not(:has(*)) {
  display: none;
}

.glightbox-clean {
  .gslide-description {
    min-width: 30vw;

    .gdesc-inner {
      padding: 5px;
    }
  }
}

.glightbox-container {
  .gslider {
    // Support long detailed image descriptions.
    overflow: auto;
  }

  .gslide {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
  }
}

details {
  border: 1px solid transparent;
  padding: 5px;
  transition-property: background-color, border-color;
  transition-duration: 300ms;

  &[open] {
    border-color: $grey;
    background-color: $highlight;
  }

  summary {
    + p {
      margin-top: 5px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// A component extending %embed should have the following structure:
//
// ```html
// <div>
//   <a><img></a> <!-- optional -->
//   <article> <!-- or <blockquote> -->
//     <header></header>
//     <div>
//       <!-- optional additional rows -->
//       <div class="e-content">
//       <!-- optional additional rows -->
//     </div>
//   </article>
//   <div class="h-cite">via <!-- ... --></div> <!-- optional -->
// </div>
// ```
//
// If `div > article > div` contains no elements other than `e-content`, the
// `e-content` may be placed there directly.
//
// A selector targeting `div > a` should `@include embed-image` and pass it the
// width of the image. This will allow th eembed to collapse correctly for
// smaller screen sizes.

$-embed-min-width: 416px;
$-embed-padding: 64px;
$-embed-column-gap: 24px;
%embed {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 18.4px;
  margin-left: auto;
  margin-right: auto;

  display: grid;

  grid-template-columns: min-content min-content 1fr min-content;
  grid-template-rows: min-content 1fr min-content;

  @include not-phone {
    // This isn't _quite_ accurate because it doesn't factor in additional
    // body padding.
    $min-width: 468px;
    padding-inline: min($-embed-padding, (100vw - $min-width) / 2);
  }

  > article,
  > blockquote {
    border-radius: 8px;
    box-shadow:
      0px 4px 5px rgba(0, 0, 0, 0.14),
      0px 1px 10px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.2);
    grid-row: 1 / 3;
    grid-column: 2 / -1;
    position: relative;
    margin: 0;
    overflow: hidden;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    > header {
      grid-row: 1;
      grid-column: 2;
    }

    > div {
      margin-top: 16px;
      grid-row: 2;
      grid-column: 1/-1;
    }

    > div:not(.e-content) {
      display: flex;
      flex-direction: column;
      gap: 16px;

      > * {
        margin-block: 0;
      }
    }

    .e-content > :first-child {
      margin-top: 0;
    }

    .e-content > :last-child {
      margin-bottom: 0;
    }
  }

  > a {
    display: block;
    filter: drop-shadow(0px 4px 5px rgba(25, 25, 25, 0.14))
      drop-shadow(0px 1px 10px rgba(25, 25, 25, 0.12))
      drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    grid-column: 1;
    grid-row: 1 / -1;
    margin-right: $-embed-column-gap;

    img {
      width: 100%;
      height: 100%;
    }
  }

  > .h-cite {
    grid-column: 2 / -1;
    grid-row: 3;
    @extend %citation;
  }

  h1 {
    font-size: 39.056px;
    @include phone {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 31.248px;
  }

  h3 {
    font-size: 25.008px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 17.6px;
  }
}

%citation {
  margin-top: 8px;
  font-size: 0.9rem;
  display: flex;
  justify-content: right;

  .h-card {
    display: flex;
    column-gap: 3px;
    align-items: center;
  }

  a[href] {
    color: $dim-grey;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .p-name,
  .p-nickname {
    color: $grey;
    font-weight: bold;
  }

  img {
    display: inline;
    $width: 24px;
    width: $width;
    height: $width;
    border-radius: math.div($width, 2);
  }
}

// The breakpoint at which an embed with the given floater width should pull the
// floater into itself.
@function embed-breakpoint($floater-width) {
  @return calc(
    $-embed-min-width + $-embed-padding * 2 + $floater-width +
      $-embed-column-gap + $body-margin * 2
  );
}

// Defines the width for an embed's image and moves it to the embed's corner for
// smaller screen sizes. This can be passed a content block to inject into the
// smaller-sized media query.
@mixin embed-image($width, $side: left) {
  @if $side != left and $side != right {
    @error "Invalid side #{side}";
  }

  width: $width;

  @media only screen and (width <= #{embed-breakpoint($width)}) {
    grid-row: 1;
    grid-column: if($side == left, 2, 4);
    margin: 12px {
      bottom: 0;
    }
    filter: none;
    z-index: 2;

    @if meta.content-exists() {
      @content;
    }
  }
}

/* Typography */
p {
  margin-bottom: 18.4px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 44px 0 16.8px;
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // prettier-ignore
  font-family: list.join((Patua One,), $text-font);
  font-weight: 400;
}

h1 {
  font-size: 48.832px;
  @include phone {
    font-size: 41.6px;
  }
}

h2 {
  font-size: 39.056px;
}

h6 {
  margin-bottom: 3.2px;
  font-size: 14.4px;
  font-variant: small-caps;
  + * {
    margin-top: 0;
  }
}

small {
  font-size: 12.8px;
}

%sidenote {
  font-size: 12.8px;
  color: $grey;
}

.attribution-external[href] {
  color: $dim-grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Web Mentions

.web-mentions {
  list-style-type: none;
  padding-left: 0;

  .u-comment {
    box-shadow:
      0px 4px 5px rgba(0, 0, 0, 0.14),
      0px 1px 10px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 12px;
    margin-top: 8px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    gap: 8px;
    grid-template-areas:
      "avatar attribution"
      "avatar content";

    @include phone {
      grid-template-columns: min-content 1fr;
      grid-template-areas:
        "avatar attribution"
        "content content";
    }

    &:not(:has(.wm-avatar)) {
      grid-template-areas:
        "attribution attribution"
        "content content";
    }
  }

  .u-comment:not(:has(.e-content)) {
    display: flex;
    box-shadow: none;
    padding: 0;
    align-items: center;

    .wm-avatar {
      display: block;
      width: 32px;
      height: 32px;
    }
  }

  .attribution {
    grid-area: attribution;
  }

  .e-content {
    grid-area: content;

    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
}

.wm-avatar {
  grid-area: avatar;
  display: block;
  width: 48px;
  height: 48px;

  @include phone {
    align-self: center;
    width: 32px;
    height: 32px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 24px;

    @include not-phone {
      filter: drop-shadow(0px 4px 5px rgba(25, 25, 25, 0.14))
        drop-shadow(0px 1px 10px rgba(25, 25, 25, 0.12))
        drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    }
  }
}

.wm-header {
  font-size: 20px;
  padding: 5px 15px;
  border-bottom: 1px solid #eee;

  a {
    float: right;
    font-family: $text-font;
    $size: 0.7em;
    font-size: $size;
    margin-top: calc(((1em / $size) - 1) * 1em);
  }
}

.wm-form {
  font-size: 14px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  label {
    display: block;
  }

  input {
    height: 22px;
  }
}

// Generic Post Embed

.generic-post-wrapper {
  $floater-width: 64px;
  @extend %embed;
  display: grid;

  > article,
  > blockquote {
    background-color: white;
    padding: 12px;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 16px;

      time {
        font-variant-numeric: tabular-nums;
        font-size: 12px;
        flex: none;
      }
    }
  }

  > blockquote {
    &::before,
    .gp-prose::after {
      position: absolute;
      font-size: 160px;
      color: transparent;
      text-shadow: 0 0 2px color.scale($faint-grey);
      // prettier-ignore
      font-family: list.join((Patua One,), $text-font-no-emoji);
      pointer-events: none;
    }

    &::before {
      content: "“";
      top: -40px;
    }

    .gp-prose::after {
      content: "”";
      right: 0;
      bottom: -128px;
    }
  }

  > a {
    height: $floater-width;
    aspect-ratio: 1 / 1;

    @include embed-image($floater-width) {
      width: 32px;
      height: 32px;
    }

    img {
      border-radius: 32px;
    }
  }

  &:has(+ .generic-post-wrapper) {
    margin-bottom: 6px;
    > article,
    > blockquote {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  + .generic-post-wrapper {
    margin-top: 0;
    > article,
    > blockquote {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  @media only screen and (width > #{embed-breakpoint($floater-width)}) {
    // If any reply has an avatar, all replies should be sized as though they
    // did.
    &:not(:has(> a)):has(~ .generic-post-wrapper > a),
    &:has(> a) ~ .generic-post-wrapper:not(:has(> a)) {
      min-width: 64px;
      grid-template-columns: (64px + 24px) min-content 1fr min-content;
    }
  }
}

.gp-prose {
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.75;
  margin-top: 16px;
}

.gp-tags {
  color: rgb(104 102 100);
  line-height: 1;
  overflow-wrap: break-word;
  width: 100%;
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
  width: 100%;

  > li {
    display: inline-block;
    margin-right: 8px;
  }
}

// Ask Embed

$generic-avatar-width: 64px;
.ask-wrapper {
  @extend %embed;

  > article {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
    padding: 12px;

    > header {
      width: 100%;
      gap: 8px;
      color: $dim-grey;
      font-weight: normal;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    > h1 {
      margin-top: 0;
    }
  }

  > a {
    height: $generic-avatar-width;
    @include embed-image($generic-avatar-width) {
      width: 32px;
      height: 32px;
    }

    img:not([src="/assets/eggbug-tuesday.png"]) {
      border-radius: math.div($generic-avatar-width, 2);
      object-fit: cover;
    }
  }
}

.ask-asker {
  font-weight: bold;
  a {
    text-decoration: none;
  }
}

// Cohost Post Embed

.cohost-post-wrapper {
  @extend %embed;
  grid-template-columns: min-content min-content 1fr;

  &,
  & * {
    border-width: 0;
    border-style: solid;
    border-color: #ded9d3;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration-line: underline;
    }
  }

  hr {
    margin: 0;
    height: 0;
    color: inherit;
    border-top-width: 1px;
    border-style: solid;
  }

  img {
    max-width: 100%;
    display: block;
  }

  svg {
    display: block;
  }

  :focus:not(:focus-visible) {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  :focus-visible {
    outline-style: solid;
    outline-width: 4px;
    outline-color: rgb(131, 37, 79);
  }

  > article {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;

    > header {
      grid-column: 2;
      background-color: rgb(255 249 242);
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 12px;
      border-bottom: 1px solid rgb(191, 186, 181);

      > div {
        line-height: 1;
        gap: 8px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1 1 0%;
        min-width: 0px;
        display: flex;
      }

      a[rel="author"] {
        color: rgb(25 25 25);
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
        max-width: 100%;
      }

      .co-handle {
        color: rgb(74 72 71);
        font-weight: 400;
      }

      time {
        color: rgb(130 127 124);
        font-variant-numeric: tabular-nums;
        font-size: 12px;
        line-height: 16px;
        flex: none;
        display: block;
      }

      svg {
        cursor: pointer;
        color: rgb(25 25 25);
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        width: 24px;
        height: 24px;
      }
    }

    > div > footer {
      background-color: rgb(255 249 242);
      color: rgb(130 127 124);
      border-top: 1px solid rgb(191, 186, 181);
      width: 100%;
      max-width: 100%;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      padding: 12px;

      > div {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  > a {
    height: $generic-avatar-width;
    aspect-ratio: 1 / 1;
    @include embed-image($generic-avatar-width) {
      grid-column: 2;
      width: 32px + 12px;
      height: 32px + 12px * 2;
      margin: 0;
      padding: 12px {
        right: 0;
      }
      background-color: rgb(255 249 242);
      border-top-left-radius: 8px;
      border-bottom: 1px solid rgb(191, 186, 181);
    }

    img {
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      object-fit: cover;
    }
  }
}

.co-prose-box {
  overflow: clip;
  position: relative;
}

.co-prose {
  padding-left: 12px;
  padding-right: 12px;
  overflow-wrap: break-word;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.75;
  color: #191919;

  :where(p) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  :where(a) {
    text-decoration-line: underline;
    font-weight: 500;
  }

  :where(strong) {
    color: #111827;
    font-weight: 600;
  }

  :where(a, blockquote, thead th) :where(strong) {
    color: inherit;
  }

  :where(ul, ol) {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-inline-start: 26px;
  }

  :where(ol) {
    list-style-type: decimal;
  }

  :where(ul) {
    list-style-type: disc;
  }

  :where(ol > li) {
    font-weight: 40;
    padding-inline-start: 6px;

    &::marker {
      color: #6b7280;
    }
  }

  :where(ul > li) {
    padding-inline-start: 6px;

    &::marker {
      color: #d1d5db;
    }
  }

  > :where(ul, ol) > {
    :where(li p) {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    :where(li p:first-child) {
      margin-top: 20px;
    }

    :where(li p:last-child) {
      margin-bottom: 20px;
    }
  }

  :where(ul ul, ul ol, ol ul, ol ol) {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  :where(dl) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  :where(dd) {
    margin-top: 8px;
    padding-inline-start: 26px;
  }

  :where(dt) {
    color: #111827;
    font-weight: 600;
    margin-top: 20px;
  }

  :where(hr) {
    color: #e5e7eb;
    border-top-width: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  :where(hr + *) {
    margin-top: 0;
  }

  :where(blockquote) {
    font-weight: 500;
    font-style: italic;
    color: #111827;
    border-inline-start-width: 4px;
    border-inline-start-color: #e5e7eb;
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 25.6px;
    margin-bottom: 25.6px;
    padding-inline-start: 16px;
  }

  :where(blockquote p:first-of-type)::before {
    content: open-quote;
  }

  :where(blockquote p:last-of-type)::after {
    content: close-quote;
  }

  :where(h1, h2, h3, h4) {
    color: #111827;

    + * {
      margin-top: 0;
    }
  }

  :where(h1) {
    font-weight: 800;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 14.2222224px;
    line-height: 1.1111111;
  }

  :where(h2) {
    font-weight: 700;
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 16px;
    line-height: 1.3333333;
  }

  :where(h2 strong) {
    font-weight: 800;
    color: inherit;
  }

  :where(h3) {
    font-weight: 600;
    font-size: 20px;
    margin-top: 25.6px;
    margin-bottom: 9.6px;
    line-height: 1.6;
  }

  :where(h3, h4) :where(strong) {
    font-weight: 700;
    color: inherit;
  }

  :where(h4) {
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
    line-height: 1.5;
  }

  :where(img) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  :where(picture) {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  :where(video) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  :where(kbd) {
    font-weight: 500;
    font-family: inherit;
    color: #111827;
    box-shadow:
      0 0 0 1px rgb(17 24 39 / 10%),
      0 3px 0 rgb(17 24 39 / 10%);
    font-size: 14px;
    border-radius: 5px;
    padding-top: 3px;
    padding-inline-end: 6px;
    padding-bottom: 3px;
    padding-inline-start: 6px;
  }

  :where(code) {
    color: #111827;
    font-weight: 600;
    font-size: 14px;

    &::before,
    &::after {
      content: "`";
    }
  }

  :where(a, h1, h2, h3, h4, thead th) :where(code) {
    color: inherit;
  }

  :where(pre) {
    color: #e5e7eb;
    background-color: #1f2937;
    overflow-x: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857;
    margin-top: 27.4285712px;
    margin-bottom: 27.4285712px;
    border-radius: 6px;
    padding-top: 13.7142864px;
    padding-inline-end: 18.2857136px;
    padding-bottom: 13.7142864px;
    padding-inline-start: 18.2857136px;
  }

  :where(pre code) {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    &::before,
    &::after {
      content: none;
    }
  }

  :where(table) {
    width: 100%;
    table-layout: auto;
    text-align: start;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.7142857;
  }

  :where(thead th) {
    color: #fff;
    font-weight: 600;
    vertical-align: bottom;
    padding-inline-end: 9.1428576px;
    padding-bottom: 9.1428576px;
    padding-inline-start: 9.1428576px;
  }

  :where(thead th, body td):where(:first-child) {
    padding-inline-start: 0;
  }

  :where(thead th, body td):where(:last-child) {
    padding-inline-end: 0;
  }

  :where(tbody tr) {
    border-bottom-width: 1px;
    border-bottom-color: #e5e7eb;
  }

  :where(tbody tr:last-child) {
    border-bottom-width: 0;
  }

  :where(tbody td) {
    vertical-align: baseline;
  }

  :where(tfoot) {
    border-top-width: 1px;
    border-top-color: #d1d5db;
  }

  :where(tfoot td) {
    vertical-align: top;
  }

  :where(tbody td, tfoot td) {
    padding-top: 9.1428576px;
    padding-inline-end: 9.1428576px;
    padding-bottom: 9.1428576px;
    padding-inline-start: 9.1428576px;
  }

  :where(figure) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  :where(figure > *) {
    margin-top: 0;
    margin-bottom: 0;
  }

  :where(figcaption) {
    color: var(--tw-prose-captions);
    font-size: 14px;
    line-height: 1.4285714;
    margin-top: 13.7142864px;
  }

  :where(picture > img) {
    margin-top: 0;
    margin-bottom: 0;
  }

  :where(li) {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  > :where(:first-child) {
    margin-top: 0;
  }
  > :where(:last-child) {
    margin-bottom: 0;
  }
}

.co-mention {
  font-weight: 700;
  text-decoration-line: none;
  :hover {
    text-decoration-line: underline;
  }
}

.co-tags-box {
  padding-inline: 12px;
  max-width: 100%;
  width: 100%;
}

.co-tags {
  color: rgb(104 102 100);
  line-height: 1;
  overflow-wrap: break-word;
  width: 100%;
  position: relative;

  > a {
    margin-right: 8px;
  }
}

@each $shape in [capsule-small] {
  .co-mask-#{$shape} {
    -webkit-mask-image: url(/assets/cohost/mask-#{$shape}.svg);
    mask-image: url(/assets/cohost/mask-#{$shape}.svg);
  }
}

.co-mask-circle {
  border-radius: 999999px;
}

.co-comments {
  flex: none;
  width: max-content;

  a {
    font-size: 14px;
    line-height: 20px;
  }
}

.co-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;

  svg {
    color: rgb(25 25 25);
    width: 24px;
    height: 24px;

    &:last-child {
      color: rgb(131 37 79);
    }
  }
}

// Letterboxd Embed

$letterboxd-poster-width: 150px;
.letterboxd-post-wrapper {
  @extend %embed;

  a {
    color: inherit;
    text-decoration: none;
  }

  article {
    background: #2c3440;
    border-radius: 5px;
    border: 1px solid #2c3440;
    overflow: hidden;
    color: #9ab;
  }

  header {
    display: flex;
    padding: 13.846px 16px 10px;
    color: #bcd;
    background: #456;
    z-index: 1;
    font-family:
      Graphik-Light-Web,
      Atkinson Hyperlegible,
      sans-serif;

    a:hover {
      color: color.to-gamut(
        color.adjust(
          #40bcf4,
          $lightness: math.percentage(math.div(1, 16)),
          $space: oklch
        ),
        $method: local-minde
      );
    }
  }

  > a {
    height: 225px;
    height: fit-content;
    @include embed-image($letterboxd-poster-width, $side: right) {
      background: #456;
      margin: 0;
      padding-top: 12px;
      padding-right: 12px;
      width: calc(110px + 12px);
      min-height: 100%;
      border: none;
      border-top-right-radius: 8px;

      img {
        margin-bottom: -18.462px;
        width: 110px;
        height: 165px;
      }
    }

    img {
      border-radius: 4px;
      display: block;
    }
  }

  .lb-info {
    align-self: center;
    flex-grow: 1;
    order: 1;
  }

  .lb-avatar {
    margin-right: 8px;
  }

  .lb-context {
    font-weight: 400;
    margin-right: 3px;
    @include phone {
      display: none;
    }
  }

  .lb-author:hover {
    color: #cde;
  }

  .lb-context,
  .lb-author {
    position: relative;
    bottom: 2px;
  }

  address {
    display: flex;
    align-items: center;
    margin-bottom: 13.846px;
    line-height: 18px;
    max-width: 100%;
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
    color: #abc;

    img {
      border-radius: 12px;
      margin: 0px;
    }

    .lb-badge {
      font-size: 9.5px;
      padding: 2px 4px;
      border-radius: 2px;
      line-height: 1;
      color: white;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0px;
      margin-left: 2px;
      position: relative;
      text-transform: uppercase;
      top: -1px;
      user-select: none;
    }

    .lb-badge-pro {
      background-color: #ee7000;
    }

    .lb-badge-patron {
      background-color: #209ce4;
    }
  }

  h2 {
    margin: 0px 0px 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 3px;

    .lb-title {
      font-family: TiemposTextWeb-Semibold, Georgia, serif;
      color: white;
      margin-right: 5px;
    }

    small {
      font-size: 18px;
      font-weight: 200;
    }
  }

  time {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
  }

  $image-tuck: 160px;
  .lb-image {
    width: 100%;
    height: 0px;
    margin-bottom: $image-tuck;

    img {
      min-width: 100%;
      width: 100%;
      min-height: 267px;
      object-fit: cover;
      margin: 0px;
      transform: translateY(-20%);
    }
  }

  .lb-prose {
    line-height: 1.6875;
    font-size: 16px;
    font-family:
      TiemposTextWeb-Regular,
      Georgia,
      Atkinson Hyperlegible,
      serif;
    padding: $image-tuck 16px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc($image-tuck * -1 + 8px);
    z-index: 0;
    background: linear-gradient(
      rgba(125, 185, 232, 0) 0px,
      rgb(22, 24, 28) calc($image-tuck + 48px)
    );

    p {
      margin: 0px 0px 10px;
    }
  }

  .star-rating::after {
    color: #00c030;
  }
}

// Backloggd Embed

$backloggd-poster-width: $letterboxd-poster-width;
$backloggd-bg-color: #16181c;
.backloggd-post-wrapper {
  @extend %embed;
  font-family: list.join(Roboto, $text-font);

  a {
    color: inherit;
    text-decoration: none;
  }

  address {
    display: inline;
    font-size: 1rem;
    font-style: normal;
  }

  $header-bg: #242832;
  $secondary-text: #8f9ca7;
  header {
    background: $header-bg;
    padding: 12px;
    color: $secondary-text;
    font-weight: 300;
    font-size: 0.875rem;
    z-index: 1;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: min-content 1fr;
    column-gap: 15px;

    a {
      color: #cbd4dc;
      font-weight: normal;
      &:hover {
        color: white;
      }
    }

    > div {
      align-self: center;
    }
  }

  > a {
    $aspect-ratio: math.div(60, 81);
    height: math.div($backloggd-poster-width, $aspect-ratio);
    height: fit-content;
    @include embed-image($backloggd-poster-width) {
      background: $header-bg;
      margin: 0;
      padding-top: 12px;
      padding-right: 12px;
      width: calc(110px + 12px);
      min-height: 100%;
      border: none;
      border-top-right-radius: 8px;

      img {
        margin-bottom: -60px;
        width: 110px;
        height: math.div(110px, $aspect-ratio);
      }
    }

    img {
      border-radius: 4px;
      display: block;
    }
  }

  article {
    background-color: $backloggd-bg-color;
  }

  .star-rating {
    font-size: 16px;
    margin-right: 4px;

    &::after {
      color: #ea377a;
    }
  }

  time {
    padding: 16px;
    padding-top: 0;
    color: $secondary-text;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: right;

    a:hover {
      color: white;
    }
  }
}

.bl-avatar {
  width: 40px;
  height: 40px;
  grid-row: 1 / -1;
  align-self: center;
}

.bl-status {
  padding-left: 8px;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 5px;
    left: -1px;
    border-radius: 4px;
  }

  @each $name,
    $color
      in (
        "played": #ea377a,
        "completed": #43b94f,
        "retired": #4b7bd4,
        "shelved": #e69b3e,
        "abandoned": #ea4747
      )
  {
    &[href$=":#{$name}/"]::before {
      background-color: $color;
    }
  }
}

$backloggd-image-tuck: 160px;
.bl-image {
  width: 100%;
  height: 0px;
  margin-bottom: $backloggd-image-tuck;

  img {
    min-width: 100%;
    width: 100%;
    min-height: 267px;
    object-fit: cover;
    margin: 0px;
    transform: translateY(-20%);
  }
}

.bl-backer {
  background-color: #ea377a;
  color: #16181c;
  font-size: 0.7rem;
  border-radius: 4px;
  font-weight: 600;
  padding: 2px 4px;
  vertical-align: text-top;
}

.bl-prose {
  line-height: 1.6875;
  padding: $backloggd-image-tuck 16px 0px;
  margin-top: calc($backloggd-image-tuck * -1 + 8px);
  z-index: 1;
  background: linear-gradient(
    rgba($backloggd-bg-color, 0) 0px,
    $backloggd-bg-color calc($backloggd-image-tuck + 48px)
  );
  color: #ccdbf1;
  // prettier-ignore
  font-family: list.join((Noto Sans,), $text-font);
  font-weight: 375;
  font-size: 0.917rem;

  p {
    margin: 0px 0px 10px;
  }
}

// Comentario style overrides

body main .comentario-root.comentario-root {
  --cmntr-color: black;
  font-size: 1rem;

  .comentario-card {
    position: relative;
    border-top: none;
    + .commentario-card {
      margin-top: 8px;
    }
  }

  .comentario-card-self {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "avatar attribution attribution"
      "avatar content content"
      "avatar footer footer";
    gap: 8px;

    overflow: hidden;
    border-radius: 8px;
    box-shadow:
      0px 4px 5px rgba(0, 0, 0, 0.14),
      0px 1px 10px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 12px;
    padding-bottom: 0;

    @include phone {
      grid-template-areas:
        "avatar attribution attribution"
        "content content content"
        "footer footer footer";
    }

    .comentario-avatar,
    .comentario-avatar-img {
      grid-area: avatar;
      margin: 0;
      filter: drop-shadow(0px 4px 5px rgba(25, 25, 25, 0.14))
        drop-shadow(0px 1px 10px rgba(25, 25, 25, 0.12))
        drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));

      @include phone {
        filter: none;
        align-self: center;
      }
    }
  }

  .comentario-card-expand-spacer {
    border-color: transparent !important;
  }

  .comentario-card-expand-toggler {
    border-color: $faint-grey !important;
  }

  .comentario-comments > .comentario-card > {
    .comentario-card-expand-spacer {
      display: none;
    }

    .comentario-card-expand-toggler {
      position: absolute;
      left: -12px;
      width: 12px;
      height: 100%;
    }
  }

  .comentario-card-expand-body {
    overflow: visible;
  }

  .comentario-card-header {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .comentario-name-container {
    grid-area: attribution;
    align-self: center;
    display: block;
    margin-bottom: 0;
    line-height: 16px;
    &:has(+ .commentario-moderation-notice) {
      grid-column: 2;
    }
  }

  .comentario-moderation-notice {
    grid-row: 1;
    grid-column: 3;
    padding: 0;
  }

  .comentario-card-body {
    grid-area: content;
  }

  .comentario-toolbar:not(.comentario-comment-editor *) {
    grid-area: footer;
    margin-top: -6px;

    // Align the reply button with the right edge of the text
    > :first-child {
      position: relative;
      left: calc((-32px + 1em) / 2);
    }
  }

  .comentario-name-wrap,
  .comentario-name,
  .comentario-subtitle {
    display: inline;
    color: $dim-grey;
    --cmntr-color: #{$grey};
    font-size: 12.8px;
  }

  .comentario-name-wrap {
    font-size: 1.1em;
  }

  .comentario-subtitle::before {
    content: " commented ";
  }

  .comentario-badge {
    display: none;
  }

  pre {
    line-height: 1;
  }
}
