@use "sass:color";
@use "sass:math";
@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$accent: #2d9cdb;
$highlight: #bdecff;
$grey: #555;
$dim-grey: color.change(#555, $alpha: 0.6);

$phone-break: 468px;
@mixin phone {
  @media only screen and (width <= #{$phone-break}) {
    @content;
  }
}

@mixin not-phone {
  @media (width > #{$phone-break}) {
    @content;
  }
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

$body-margin: 24px;
body {
  font-family: Inter, sans-serif;
  line-height: 1.65;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0 $body-margin;
}

.page-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 8px;

  @include phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    grid-row: span 2;

    a {
      display: flex;
      height: 100%;
    }

    img {
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    grid-column: 3;
    @include phone {
      justify-content: space-evenly;
      max-width: 80%;
    }

    &.icons {
      grid-row: 2;
      a {
        margin: 0 8px;
      }
    }

    a {
      margin: 0 12px;
      font-size: 1.25em;
      &:not(:hover):not(:focus) {
        color: currentColor;
        text-decoration: none;
      }
    }
    img {
      width: 1.1em;
      vertical-align: middle;
    }
  }
}

main {
  flex-grow: 1;
  max-width: 90ch;
  width: 100%;
  margin: 0 auto;

  > img {
    display: block;
    margin: 0 auto;
  }
}

.page-footer {
  text-align: center;
  margin-bottom: 8px;
}

a[href] {
  color: $accent;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 2px solid $accent;
    outline-offset: 4px;
  }
  h1 & {
    color: currentColor;
    text-decoration: none;
  }
}

.attribution {
  @extend %sidenote;
  a[href] {
    color: $grey;
    text-decoration-color: $grey;
  }
}

.footnotes {
  font-size: 0.8em;

  &-sep {
    border-color: $dim-grey;
    border-top-width: 1px;
    border-style: dashed;
    border-bottom: none;
    width: 90%;
  }
}

.pager {
  display: flex;
  gap: 1rem;
  justify-content: center;

  img {
    width: 1rem;
    position: relative;
    top: 2px;
  }

  a[rel="next"] {
    transform: scale(-1, 1);
  }
}

.blog-posts {
  padding: 0;
  > li {
    list-style: none;

    > hr {
      width: calc(100% + 12ch);
      max-width: 96vw;
      margin-left: 50%;
      transform: translateX(-50%);

      height: 3px;
      position: relative;
      border: none;
      border-top: 1px solid $dim-grey;
      border-bottom: 1px solid $dim-grey;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
  }
}

.read-more[href] {
  display: inline-block;
  background-color: $accent;
  color: white;
  padding: {
    left: 3px;
    right: 3px;
    bottom: 0.5rem;
  }
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  line-height: 0.5rem;
  vertical-align: super;
  margin-left: 3px;

  &:hover {
    color: $accent;
    background-color: transparent;
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  $images-per-row: 3;
  $gap: 1em;
  gap: $gap;

  > * {
    flex: 1 calc(100% / $images-per-row - $gap);
    margin-inline: 0;
  }
}

h1.tag {
  text-align: center;
  color: $dim-grey;
  font-size: 2em;

  img {
    width: 1.5rem;
    filter: grayscale(1);
  }
}

.tags {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.7rem;

  li {
    list-style: none;
  }

  a {
    color: $dim-grey;

    &::before {
      content: "#";
    }
  }
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;

  img {
    width: 100%;
  }
}

figcaption {
  font-size: 0.8em;
  @include phone {
    font-size: 0.6em;
  }
}

figcaption,
.gdesc-inner {
  h6:first-child {
    margin-top: 0;
    text-align: center;
    font-size: 0.85rem;
  }

  details {
    summary {
      @extend %sidenote;
      text-align: center;
    }
  }
}

.glightbox-clean {
  .gslide-description {
    min-width: 30vw;

    .gdesc-inner {
      padding: 5px;
    }
  }
}

.glightbox-container {
  .gslider {
    // Support long detailed image descriptions.
    overflow: auto;
  }

  .gslide {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
  }
}

details {
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 5px;
  transition-property: background-color, border-color;
  transition-duration: 300ms;

  &[open] {
    border-color: $grey;
    background-color: $highlight;
  }

  summary {
    + p {
      margin-top: 5px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

$-embed-min-width: 26rem;
$-embed-padding: 4rem;
%embed {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.15rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @include not-phone {
    padding-inline: $-embed-padding;
  }

  article {
    box-shadow:
      0px 4px 5px rgba(0, 0, 0, 0.14),
      0px 1px 10px rgba(0, 0, 0, 0.12),
      0px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

// EWF: Embed With Floater

$-ewf-row-gap: 0.5rem;
@function -ewf-breakpoint($floater-width) {
  @return calc(
    $-embed-min-width + $-embed-padding * 2 + $floater-width + $-ewf-row-gap +
      $body-margin * 2
  );
}

@mixin ewf-large($floater-width) {
  @media (width > #{-ewf-breakpoint($floater-width)}) {
    @content;
  }
}

@mixin ewf-small($floater-width) {
  @media only screen and (width <= #{-ewf-breakpoint($floater-width)}) {
    @content;
  }
}

@mixin ewf-wrapper($floater-width) {
  @include ewf-large($floater-width) {
    display: grid;
    grid-template-columns: $floater-width 1fr;
    row-gap: $-ewf-row-gap;
    column-gap: 1.5rem;
  }
}

@mixin ewf-floater($floater-width) {
  display: block;
  filter: drop-shadow(0px 4px 5px rgba(25, 25, 25, 0.14))
    drop-shadow(0px 1px 10px rgba(25, 25, 25, 0.12))
    drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
  width: $floater-width;

  @include ewf-small($floater-width) {
    display: none;
  }
}

/* Typography */
p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
  @include phone {
    font-size: 2.6em;
  }
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5,
.larger {
  font-size: 1.25em;
}

h6 {
  font-weight: bolder;
  margin-bottom: 0.2rem;
  font-size: 0.9em;
  font-variant: small-caps;
  + * {
    margin-top: 0;
  }
}

small {
  font-size: 0.8em;
}

%sidenote {
  font-size: 0.8em;
  color: $grey;
}

// Cohost Post Embed

$cohost-floater-width: 4rem;

.cohost-post-wrapper {
  @extend %embed;
  @include ewf-wrapper($cohost-floater-width);

  &,
  & * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #ded9d3;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration-line: underline;
    }
  }

  hr {
    margin: 0;
    height: 0;
    color: inherit;
    border-top-width: 1px;
    border-style: solid;
  }

  img {
    max-width: 100%;
    display: block;
  }

  svg {
    display: block;
  }

  :focus:not(:focus-visible) {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  :focus-visible {
    outline-style: solid;
    outline-width: 4px;
    outline-color: rgb(131, 37, 79);
  }

  article {
    background-color: white;
    width: 100%;
    overflow-x: auto;
    border-radius: 0.5rem;
    font-family:
      Atkinson Hyperlegible,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";

    > header {
      background-color: rgb(255 249 242);
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding: 0.75rem;

      > div {
        line-height: 1;
        gap: 0.5rem;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1 1 0%;
        min-width: 0px;
        display: flex;
      }

      a[rel="author"] {
        color: rgb(25 25 25);
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
        max-width: 100%;
      }

      .co-handle {
        color: rgb(74 72 71);
        font-weight: 400;
      }

      time {
        color: rgb(130 127 124);
        font-variant-numeric: tabular-nums;
        font-size: 0.75rem;
        line-height: 1rem;
        flex: none;
        display: block;
      }

      svg {
        cursor: pointer;
        color: rgb(25 25 25);
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    > hr {
      border-color: rgb(191 186 181);
    }

    > footer {
      background-color: rgb(255 249 242);
      color: rgb(130 127 124);
      width: 100%;
      max-width: 100%;
      border-bottom-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      padding: 0.75rem;

      > div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.co-prose-box {
  overflow: clip;
  position: relative;
}

.co-prose {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  overflow-wrap: break-word;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.75;
  color: #191919;

  :where(p) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  :where(a) {
    text-decoration-line: underline;
    font-weight: 500;
  }

  :where(strong) {
    color: #111827;
    font-weight: 600;
  }

  :where(a, blockquote, thead th) :where(strong) {
    color: inherit;
  }

  :where(ul, ol) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
  }

  :where(ol) {
    list-style-type: decimal;
  }

  :where(ul) {
    list-style-type: disc;
  }

  :where(ol > li) {
    font-weight: 40;
    color: #6b7280;
    padding-inline-start: 0.375em;
  }

  :where(ul > li) {
    color: #d1d5db;
    padding-inline-start: 0.375em;
  }

  > :where(ul, ol) > {
    :where(li p) {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }

    :where(li p:first-child) {
      margin-top: 1.25em;
    }

    :where(li p:last-child) {
      margin-bottom: 1.25em;
    }
  }

  :where(ul ul, ul ol, ol ul, ol ol) {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  :where(dl) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  :where(dd) {
    margin-top: 0.5em;
    padding-inline-start: 1.625em;
  }

  :where(dt) {
    color: #111827;
    font-weight: 600;
    margin-top: 1.25em;
  }

  :where(hr) {
    color: #e5e7eb;
    border-top-width: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  :where(hr + *) {
    margin-top: 0;
  }

  :where(blockquote) {
    font-weight: 500;
    font-style: italic;
    color: #111827;
    border-inline-start-width: 0.25rem;
    border-inline-start-color: #e5e7eb;
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-inline-start: 1em;
  }

  :where(blockquote p:first-of-type)::before {
    content: open-quote;
  }

  :where(blockquote p:last-of-type)::after {
    content: close-quote;
  }

  :where(h1, h2, h3, h4) {
    color: #111827;

    + * {
      margin-top: 0;
    }
  }

  :where(h1) {
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }

  :where(h2) {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }

  :where(h2 strong) {
    font-weight: 800;
    color: inherit;
  }

  :where(h3) {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  :where(h3, h4) :where(strong) {
    font-weight: 700;
    color: inherit;
  }

  :where(h4) {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  :where(img) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(picture) {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(video) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(kbd) {
    font-weight: 500;
    font-family: inherit;
    color: #111827;
    box-shadow:
      0 0 0 1px rgb(17 24 39 / 10%),
      0 3px 0 rgb(17 24 39 / 10%);
    font-size: 0.875em;
    border-radius: 0.3125rem;
    padding-top: 0.1875em;
    padding-inline-end: 0.375em;
    padding-bottom: 0.1875em;
    padding-inline-start: 0.375em;
  }

  :where(code) {
    color: #111827;
    font-weight: 600;
    font-size: 0.875em;

    &::before,
    &::after {
      content: "`";
    }
  }

  :where(a, h1, h2, h3, h4, thead th) :where(code) {
    color: inherit;
  }

  :where(pre) {
    color: #e5e7eb;
    background-color: #1f2937;
    overflow-x: auto;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding-top: 0.8571429em;
    padding-inline-end: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-inline-start: 1.1428571em;
  }

  :where(pre code) {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    &::before,
    &::after {
      content: none;
    }
  }

  :where(table) {
    width: 100%;
    table-layout: auto;
    text-align: start;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

  :where(thead th) {
    color: #fff;
    font-weight: 600;
    vertical-align: bottom;
    padding-inline-end: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-inline-start: 0.5714286em;
  }

  :where(thead th, body td):where(:first-child) {
    padding-inline-start: 0;
  }

  :where(thead th, body td):where(:last-child) {
    padding-inline-end: 0;
  }

  :where(tbody tr) {
    border-bottom-width: 1px;
    border-bottom-color: #e5e7eb;
  }

  :where(tbody tr:last-child) {
    border-bottom-width: 0;
  }

  :where(tbody td) {
    vertical-align: baseline;
  }

  :where(tfoot) {
    border-top-width: 1px;
    border-top-color: #d1d5db;
  }

  :where(tfoot td) {
    vertical-align: top;
  }

  :where(tbody td, tfoot td) {
    padding-top: 0.5714286em;
    padding-inline-end: 0.5714286em;
    padding-bottom: 0.5714286em;
    padding-inline-start: 0.5714286em;
  }

  :where(figure) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  :where(figure > *) {
    margin-top: 0;
    margin-bottom: 0;
  }

  :where(figcaption) {
    color: var(--tw-prose-captions);
    font-size: 0.875em;
    line-height: 1.4285714;
    margin-top: 0.8571429em;
  }

  :where(picture > img) {
    margin-top: 0;
    margin-bottom: 0;
  }

  :where(li) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  > :where(:first-child) {
    margin-top: 0;
  }
  > :where(:last-child) {
    margin-bottom: 0;
  }
}

.co-mention {
  font-weight: 700;
  text-decoration-line: none;
  :hover {
    text-decoration-line: underline;
  }
}

.co-tags-box {
  padding: 0.75rem;
  max-width: 100%;
  width: 100%;
}

.co-tags {
  color: rgb(104 102 100);
  line-height: 1;
  overflow-wrap: break-word;
  overflow-y: hidden;
  width: 100%;
  position: relative;

  > a {
    margin-right: 0.5rem;
  }
}

.co-avatar-large {
  height: 4rem;
  aspect-ratio: 1 / 1;
  position: relative;
  @include ewf-floater($cohost-floater-width);

  img {
    width: 100%;
    height: 100%;
  }
}

.co-avatar-small {
  width: 2rem;
  height: 2rem;
  display: none;

  @include ewf-small($cohost-floater-width) {
    display: block;
  }
}

.co-avatar-large,
.co-avatar-small {
  img {
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@each $shape in [capsule-small] {
  .co-mask-#{$shape} {
    -webkit-mask-image: url(/assets/cohost/mask-#{$shape}.svg);
    mask-image: url(/assets/cohost/mask-#{$shape}.svg);
  }
}

.co-mask-circle {
  border-radius: 999999px;
}

.co-comments {
  flex: none;
  width: max-content;

  a {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.co-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;

  svg {
    color: rgb(25 25 25);
    width: 1.5rem;
    height: 1.5rem;

    &:last-child {
      color: rgb(131 37 79);
    }
  }
}

// Letterboxd Embed

$letterboxd-floater-width: 150px;

.letterboxd-post-wrapper {
  @extend %embed;
  @include ewf-wrapper($letterboxd-floater-width);

  .embed-title {
    display: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  article {
    background: #2c3440;
    border-radius: 5px;
    border: 1px solid #2c3440;
    overflow: hidden;
    color: #9ab;
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    margin-bottom: 18.462px;
    padding: 13.846px 16px 10px;
    color: #bcd;
    background: #456;
    z-index: 1;
    font-family: Graphik-Light-Web, Inter, sans-serif;

    a:hover {
      color: color.to-gamut(
        color.adjust(
          #40bcf4,
          $lightness: math.percentage(math.div(1, 16)),
          $space: oklch
        ),
        $method: local-minde
      );
    }
  }

  .lb-poster {
    height: 225px;
    height: fit-content;
    @include ewf-floater($letterboxd-floater-width);
  }

  .lb-poster-small {
    align-self: flex-start;
    flex-shrink: 0;
    order: 2;
    width: 30%;
    max-width: 110px;
    margin-bottom: -100%;
    display: none;

    @include ewf-small($letterboxd-floater-width) {
      display: block;
    }
  }

  .lb-poster,
  .lb-poster-small {
    position: relative;

    img {
      width: 100%;
      border-radius: 4px;
      display: block;
    }

    &::after {
      content: " ";
      box-shadow: inset 0 0 0 1px rgba(221, 238, 255, 0.1);
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      border-radius: 4px;
      transition: box-shadow 0.1s;
    }

    &:hover::after {
      box-shadow: inset 0 0 0 3px #00e054;
    }
  }

  .lb-info {
    align-self: center;
    flex-grow: 1;
    order: 1;
    padding-right: 13.846px;
  }

  .lb-avatar {
    margin-right: 8px;
  }

  .lb-context {
    font-weight: 400;
    margin-right: 3px;
    @include ewf-small($letterboxd-floater-width) {
      display: none;
    }
  }

  .lb-author:hover {
    color: #cde;
  }

  .lb-context,
  .lb-author {
    position: relative;
    bottom: 2px;
  }

  address {
    display: flex;
    align-items: center;
    margin-bottom: 13.846px;
    line-height: 18px;
    max-width: 100%;
    font-style: normal;
    font-size: 13px;
    font-weight: bold;
    color: #abc;

    img {
      border-radius: 12px;
      margin: 0px;
    }

    .lb-badge {
      font-size: 9.5px;
      padding: 2px 4px;
      border-radius: 2px;
      line-height: 1;
      color: white;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0px;
      margin-left: 2px;
      position: relative;
      text-transform: uppercase;
      top: -1px;
      user-select: none;
    }

    .lb-badge-pro {
      background-color: #ee7000;
    }

    .lb-badge-patron {
      background-color: #209ce4;
    }
  }

  h2 {
    margin: 0px 0px 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    margin-right: 3px;

    .lb-title {
      font-family: TiemposTextWeb-Semibold, Georgia, serif;
      color: white;
      margin-right: 5px;
    }

    .lb-rating {
      background: url("/assets/letterboxd-stars.svg") -390px -130px no-repeat;
      display: inline-block;
      height: 14px;
      overflow: hidden;
      text-indent: 110%;
      white-space: nowrap;
      width: 80px;

      @for $i from 1 through 10 {
        &-#{$i} {
          @if $i % 2 == 1 {
            $width: calc(16px * ($i + 1) / 2 - 1px);
            background-position-x: -485px + $width;
            width: $width;
          } @else {
            width: calc(16px * $i / 2 - 2px);
          }
        }
      }
    }

    small {
      font-size: 18px;
      font-weight: 200;
    }
  }

  time {
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
  }

  $image-tuck: 160px;

  .lb-image {
    width: 100%;
    height: 0px;
    margin-bottom: $image-tuck;

    img {
      min-width: 100%;
      width: 100%;
      min-height: 267px;
      object-fit: cover;
      margin: 0px;
      transform: translateY(-20%);
    }
  }

  .lb-prose {
    line-height: 1.6875;
    font-size: 16px;
    font-family:
      TiemposTextWeb-Regular,
      Georgia,
      Atkinson Hyperlegile,
      serif;
    padding: $image-tuck 16px 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc($image-tuck * -1 + 0.5rem);
    z-index: 0;
    background: linear-gradient(
      rgba(125, 185, 232, 0) 0px,
      rgb(22, 24, 28) calc($image-tuck + 3rem)
    );

    p {
      margin: 0px 0px 0.625em;
    }
  }
}
