---
layout: default
permalink: /404.html
class: page-404
---
<h1>404</h1>

<figure>
  <img src="/assets/natalie-shrug.webp" alt="Art of me shrugging">
  <figcaption class="via">
    <a class="u-url h-card" href="https://subspaceskater.com/">
      <data class="p-name" value="Stelle"></data>
      <span>by <span class="p-nickname">subspaceskater</span></span>
      <img
        class="u-logo"
        src="https://64.media.tumblr.com/6ba2d5140aaa120f51da07e0a0f8c57b/b67a552f15ed86e0-35/s96x96u_c1/a2251fda11d2ff229c9bd891905aaa9356d96e10.jpg"
      >
    </a>
  </figcaption>
</figure>
